@import './../_global';

.login-view {
    height: 100%;

    .authentication-area {
        background-color: @white;
        display: flex;
        align-items: center;
        height: 100%;

        &__header {
            margin-bottom: @indent__m;
          }

        &__form {
           width: 400px;
           margin: 0 auto;
        }

        &__link-container {
            margin-top: @indent__base;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
          }

          &__error {
            padding: @indent__base;
            border: 1px solid @error;
            border-radius: 3px;
            color: @error;
            font-size: 16px;
            margin-bottom: @indent__base;
          }
    }
  }


@media only screen and (max-width: @screen__m) {
  .login-view {
    .authentication-area  {
        &__form {
            margin: 0 @indent__base;
            width: 100%;
        }
    }
  }
}
