@import './../_global';

.guess-date {
    padding: @indent__m;

     &__text {
      font-size: 16px;
      margin: @indent__base 0;
    }

    &__date {
      line-height: 60px;
      background-color: @ingrid-pink;
      color: white;
      font-weight: 700;
      font-size: 18px;
      border-radius: 100%;
      border: 2px solid black;
      width: 60px;
      height: 60px;
      margin: @indent__base auto;
    }

    &__date-picker {
      margin: 0 auto;
    }

    &__button {
      margin-top: @indent__base;
      width: 100%;
    }
 }