@import './../_global';

.photo {
    position: relative;

    &__published-date {
        top: @indent__xs;
        left: @indent__xs;
        font-weight: 700;
        position: absolute;
        color: white;
    }

    // Testing purposes
    // &.first {
    //     border: 8px solid green;
    // }

    // &.last {
    //     border: 8px solid red;
    // }

    width: 317px;
    height: 420px;
    margin: 4px;
    &--loading {
        border: 1px solid @dark;
        opacity: 0.1;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: @medium; 
    }

    &--landscape {
        width: 642px;
    }

    &__image {
        width: 100%;
        height: 100%;

        &--loading {
            display: none;
        }
    }

    &__spinner {
        .spinner();
        display: none;

        &--loading {
            display: block;
        }
    }
}

// Media query mobile screen sizes
@media only screen and (max-width: @screen__m) {
    .photo {
        width: 100%;
        height: auto;
        margin: 2px;

        &__image {
            height: auto;
            width: 100%;
        }   
    }
}
