@import "./../_global";

.header-view {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 48px;
  margin: 0 auto;
  background-color: black;
  border-radius: 4px;

  &__link {
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    flex-grow: 1;
  }
}
